:root{
--grey-color: #EEEEEE;
--white-color: white;
}
*,
*::before,
*::after{
    box-sizing: border-box; 
}

ul {
    padding: 0;
    list-style:none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

a {
    text-decoration: none;
}

.page {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #0D4D14;
}

.button {
    display: block;
    padding: 21px 52px 22px 53px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #6CB981;
    background-color: white;
    border-radius: 35px;
    border:none;
    cursor: pointer;
}

.button:hover {
    background-color: #c0ee6b;
}

.section-title {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    color: #828282;
}

/*header*/

.header-wrapper {
    margin-bottom: 63px;
    background-color: green;
    background-image: url('../img/back-header.jpg');
    background-repeat: repeat ;
    background-position: top center;
    background-size: cover;
    /* outline: 2px solid blue; */
}

.header-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding:58px 15px 116px;

    /* outline: 2px solid red; */
}

.header {
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 131px;
}

.header-link {
    margin-right: 20px;
}

.header__title-wrapper {
    display:inline-block;
    margin: 0 auto;
}

.header-title {
    font-size: 60px;
    font-weight: 800;
    color: var(--white-color);
}

.header-subtitle {
    font-size: 27px;
    color: var(--white-color);
    letter-spacing: 7.5px;
}

/*hero lead*/

.hero {
    text-align: center;
}

.hero-lead {
    margin-bottom: 100px;

    font-size: 114px;
    font-weight: 900;
    color: var(--white-color);
}

.hero-button {
    color: #48924F;
}

/* services*/

.services {
    margin: 0 auto 50px;
    max-width: 1400px;
    padding: 0 15px;
}

.services-title {
    margin-bottom:50px ;
}

.services-list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 22px;
    margin: 0 0 50px 0;
}

.servies-item {
    max-width: 385px;
    border-radius: 30px;
    box-shadow: 5px 5px 50px lightgrey;
}

.services-item__pic {
    margin: 0 0 30px 0;
}

.services-item__wrapper {
    padding: 0 30px 30px 30px;
}
 
.services-item__title {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 900;
    color: #0D4D14;
}

.services-button {
    box-shadow: 0 15px 15px #6CB981;
}


/* about */

.about-title {
    margin: 0 0 50px 0;
}

.about-wrapper {  
    background-color: green;
    background-image: url('../img/back-about.jpg');
    background-position: top center;
    background-repeat: repeat;
    background-size: cover;
}

.about-inner {
    max-width: 1400px;
    padding: 154px 15px 50px;
    margin: 0 auto 50px;
}

.about-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    text-align: center; 
}

.about-item {
    max-width: 360px;
    color: var(--white-color);
    line-height: 24px;
}
